@model IEnumerable<CRUD_TRABAJO.Models.Cliente>

<h2>Listado de Clientes</h2>

<p>
 <a asp-action="Crear" class="btn btn-primary">Crear Cliente</a>
</p>

<table class="table table-bordered table-striped">
 <thead>
  <tr>
   <th>Nombre</th>
   <th>Apellido</th>
   <th>Dirección</th>
   <th>Identificación</th>
   <th>Acciones</th>
  </tr>
 </thead>
 <tbody>
  @foreach (var c in Model)
  {
   <tr>
    <td>@c.Nombre</td>
    <td>@c.Apellido</td>
    <td>@c.Direccion</td>
    <td>@c.Identificacion</td>
    <td>
     <a asp-action="Editar" asp-route-id="@c.ClienteId" class="btn btn-warning">Editar</a>
     <a asp-action="Eliminar" asp-route-id="@c.ClienteId" class="btn btn-danger">Eliminar</a>
    </td>
   </tr>
  }
 </tbody>
</table>
